<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="etu.ihm.myactivity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.location.gps"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logoapp2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyActivity">
        <activity
            android:name=".restaurants.DataBase"
            android:exported="false" />
        <activity
            android:name=".account.Account"
            android:exported="false" />
        <activity
            android:name=".favorites.Favorites"
            android:exported="false" />
        <activity
            android:name=".map.Map"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAaSrozKCZYHXJD4F5zynJxebwsvf5nA9I"/>

</manifest>